<hr>
<h3>Educación</h3>
<div class="row">
    <h5>Universitaria</h5>
    <div class="col-3">
        <img src="../../assets/logoUntref.png" class="img-thumbnail" alt="Foto">
    </div>
    <div class="col-9">
        <h6>Universidad Nacional de Tres de Febrero</h6>
        <p class="fst-italic">Licenciatura en gestión del arte y la cultura</p>
        <p>Tesis de grado en desarrollo.<br>
            Técnico en Gestión del Arte y la Cultura (2020)</p>
        <br>
    </div>
    <h5>Certificaciones</h5>
    <h5>Cursos</h5>
</div>