<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <div class="d-flex justify-content-center align-items-center" style="height: 200px">
                <img src="../../assets/logoSofkaU.webp" class="h-25 w-auto" alt="Logo Sofka U">
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <div class="d-flex justify-content-center align-items-center" style="height: 200px">
                <img src="../../assets/logoSofka.png" class="h-75 w-auto" alt="Logo Sofka">
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <div class="d-flex justify-content-center align-items-center" style="height: 200px">
                <img src="../../assets/logoArgentinaPrograma.png" class="h-25 w-auto" alt="Logo Argentina Programa">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>