<c-carousel [dark]="true">
    <c-carousel-inner>
        <c-carousel-item *ngFor="let slide of slides">
            <div class="d-flex justify-content-center align-items-center" style="height: 250px">
                <img [src]="slide.src" alt="{{ slide.title }}" class="h-25 w-auto" loading="lazy" />
            </div>
        </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel>