<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src="../../assets/logoArgentinaPrograma.png" alt="" width="69" height="24">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="about" routerLink="/about">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/experience">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/education">Educación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/skills">Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projects">Proyectos</a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item">
                    <a class="nav-link" routerLink="/admin">Admin</a>
                </li>
            </ul>
            <div *ngIf="(isLoggedIn | async); then loggedIn else loggedOut"></div>
            <ng-template #loggedIn>
                <button class="btn btn-danger" (click)="logOut()">Log Out</button>
            </ng-template>
            <ng-template #loggedOut>
                <app-login></app-login>
            </ng-template>
            <div >
            </div>
        </div>
    </div>
</nav>