<h3>Proyectos</h3>
<div class="row justify-content-around">

    <div class='col-sm-6 col-lg-4 col-xl-3 text-center p-2'>
        <div class="card">
            <img src="..." class="card-img-top" alt="Project img">
            <div class="card-body">
                <h5 class="card-title">Project title</h5>
                <div class="card-text">
                    <p>Project description</p>
                    <p><a href="" target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="faGlobe"></fa-icon> Visitar el despliegue
                        </a></p>
                    <p><a href="" target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="faGithub"></fa-icon> Visitar el repositorio
                        </a></p>
                </div>
            </div>
        </div>
    </div>

    <div class='col-sm-6 col-lg-4 col-xl-3 text-center p-2'>
        <div class="card">
            <img src="..." class="card-img-top" alt="Project img">
            <div class="card-body">
                <h5 class="card-title">Project title</h5>
                <div class="card-text">
                    <p>Project description</p>
                    <p><a href="" target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="faGlobe"></fa-icon> Visitar el despliegue
                        </a></p>
                    <p><a href="" target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="faGithub"></fa-icon> Visitar el repositorio
                        </a></p>
                </div>
            </div>
        </div>
    </div>


</div>