<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
  Log in
</button>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="loginModalLabel">Login</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Login form -->
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
          <!-- Username -->
          <div class="mb-3">
            <label for="username" class="form-label">Username: </label>
            <input id="username" type="text" formControlName="username" [ngClass]="{'is-invalid': username?.errors && username?.touched,
          'is-valid': !username?.errors && !username?.touched}" class="form-control">
            <div *ngIf="username?.errors && username?.touched">
              <p *ngIf="username?.hasError('required')" class="text-danger">
                Por favor, ingresar el nombre de usuario.
              </p>
            </div>
          </div>

          <!-- Password -->
          <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
            <input id="password" type="password" formControlName="password" [ngClass]="{'is-invalid': password?.errors && password?.touched,
            'is-valid': !password?.errors && !password?.touched}" class="form-control">
            <div *ngIf="password?.errors && password?.touched">
              <p *ngIf="password?.hasError('required')" class="text-danger">
                Por favor, ingresar la contraseña.
              </p>
            </div>
          </div>

          <!-- Submit -->
          <input type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" data-bs-dismiss="modal"
            value="Log in">
        </form>
      </div>
    </div>
  </div>
</div>